<main id="info-article">
    <h2>Contenido no encontrado</h2>
    <div class="list-type">

        <div class="box-type">           
            <div class="article active">
                <ul>
                    <li class="target" style="width: calc(73.3% - 30px);">
                        <p>No hemos encontrado en la revista <b>GLOBAL RHEUMATOLOGY</b> una url válida para su búsqueda por favor verifique la url ingresada en su navegador</p>
                        <h3>
                            <a href="/">Regresar a la página principal</a>
                        </h3>
                    </li>                  
                </ul>
            </div>
        </div>    
    </div>
</main>