<main id="form-node-manuscrito">
    {{ markup }}
</main>


<script>
    $("#edit-title-0-value").keyup(function(){
        this.value = this.value.toUpperCase();
    });
    $("#edit-field-titulo-ingles-0-value").keyup(function(){
        this.value = this.value.toUpperCase();
    });
</script>