<main id="info-article">
    <h2>Nuevo artículo recibido</h2>
    <div class="list-type">

        <div class="box-type">           
            <div class="article active">
                <ul>
                    <li class="target" style="width: calc(73.3% - 30px);">
                        <p>La revista <b>GLOBAL RHEUMATOLOGY</b> le da las gracias por enviar su artículo titulado  </br> "<b>{{ drupal_field('title', 'node', id) }}</b>" el cual fue guardado de forma satisfactoria en nuestra plataforma. Uno de nuestros revisores iniciará el proceso de verificación del artículo recibido. Por favor observe su correo electrónico de forma periódica en el cual se enviarán las notificaciones pertinentes al proceso de revisión</p>
                        <h3>
                            <a href="{{ path('entity.node.canonical', {'node': id}) }}">Ver artículo</a>
                        </h3>
                    </li>                  
                </ul>
            </div>
        </div>    
    </div>
</main>