<main id="info-article">
    <h2>Selecciona el tipo de envió</h2>
    <div class="list-type">
        <div class="option">
            <ul>
                <li class="target active" id="article">
                    <img src="/themes/custom/basic/images/article_tipo/articulo.svg" width="100">
                    <h2>Científicos</h2>
                </li>
                <li class="target" id="magazine">
                    <img src="/themes/custom/basic/images/article_tipo/magazine.svg" width="100">
                    <h2>Magazine</h2>
                </li>
            </ul>
        </div>

        <div class="box-type">
            <div class="article active">
                <ul>
                    <li class="target" data-type="editorial" data-node="170">
                        <img src="/themes/custom/basic/images/article_tipo/articulo-editorial.svg" alt="" title="" width="100">
                        <h3>Editorial</h3>
                    </li>
                    <li class="target" data-type="articulo_original" data-node="169">
                        <img src="/themes/custom/basic/images/article_tipo/articulo.svg" alt="" title="" width="100">
                        <h3>Artículo Original</h3>
                    </li>
                    <li class="target" data-type="articulo_revision" data-node="171">
                        <img src="/themes/custom/basic/images/article_tipo/revision.svg" alt="" title="" width="100">
                        <h3>Artículo de Revisión</h3>
                    </li>
                    <li class="target" data-type="mini_revision" data-node="172">
                        <img src="/themes/custom/basic/images/article_tipo/mini-revision.svg" alt="" title="" width="100">
                        <h3>Mini Revisión</h3>
                    </li>
                    <li class="target" data-type="rondas_clinicas" data-node="174">
                        <img src="/themes/custom/basic/images/article_tipo/ronda-clinica.svg" alt="" title="" width="100">
                        <h3>Rondas Clínicas</h3>
                    </li>
                    <li class="target" data-type="comentarios_respues" data-node="173">
                        <img src="/themes/custom/basic/images/article_tipo/comentarios.svg" alt="" title="" width="100">
                        <h3>Comentarios y Respuestas</h3>
                    </li>
                    <li class="target" data-type="articulo_especial" data-node="175">
                        <img src="/themes/custom/basic/images/article_tipo/article-especial.svg" alt="" title="" width="100">
                        <h3>Artículos Especiales</h3>
                    </li>
                </ul>
            </div>
            <div class="magazine">
                <ul>
                    <li class="target" data-type="ciencia_panlar" data-node="176">
                        <img src="/themes/custom/basic/images/article_tipo/ciencia.svg" alt="" title="" width="100">
                        <h3>Ciencia Panlar</h3>
                    </li>
                    <li class="target" data-type="reportajes_especiales" data-node="177">
                        <img src="/themes/custom/basic/images/article_tipo/reportaje.svg" alt="" title="" width="100">
                        <h3>Reportaje Especial</h3>
                    </li>
                    <li class="target" data-type="multimedia" data-node="178">
                        <img src="/themes/custom/basic/images/article_tipo/multimedia.svg" alt="" title="" width="100">
                        <h3>Multimedia</h3>
                    </li>
                    <li class="target" data-type="noticia" data-node="179">
                        <img src="/themes/custom/basic/images/article_tipo/noticia.svg" alt="" title="" width="100">
                        <h3>Noticias</h3>
                    </li>
                </ul>
            </div>
        </div>    
    </div>

    <aside class="live-box">
        <div class="box">
            <button class="close">X</button>
            <div class="data scroll"> <!--Scroll en css para este div-->
                <h2></h2>
                <div class="info">
                    <p class="guia">Cargando...</p>
                    <p class="complete"><a href="/guia-para-autores/159" target="_blank">Ver guía completa</a></p>
                </div>
            </div>
            <a href="" class="link">Continuar</a>
        </div>
    </aside>
</main>